html, body {
    padding: 0;
    margin: 0;
}

h2 {
    padding: 0;
}

* {
    box-sizing: border-box;
}

.App > * {
    padding: 8px;
}

.Login, .AccountCreation {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-top: 8px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.Login form, .AccountCreation form {
    border: 1px solid darkgrey;
    align-self: center;
    border-radius: 3px;
    padding: 8px;
    width: fit-content;
}

.Login .formError, .AccountCreation .formError {
    border-color: darkred;
}

.Messenger {
    display: flex;
}

.FriendsList {
    min-width: 150px;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}

.FriendsList .Friend {
    padding: 3px;
}

.Chat {
    width: 100%;
}

.Login > *+*, 
.Login form > *+*,
.AccountCreation > *+*,
.AccountCreation form > *+* {
    margin-top: 8px;
}

.error {
    color: darkred;
}

.Input input {
    width: 100%;
}

.Input > * {
    display: block;
}

.Modal {
    display: none;
}

.Modal.visible {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px grey solid;
}

.flex {
    display: flex;
}

.justifyBetween {
    justify-content: space-between;
}

.interactive {
    cursor: pointer;
}

.Header {
    height: 32px;
    background-color: rebeccapurple;
    color: white;
}
